<div class="card">
    <div class="card-body">
        <h4> {{post.titulo}} </h4>
        <p> <strong> Descrição: </strong> {{post.descricao}} </p>
        <p> <strong> Conteúdo </strong> {{post.conteudo}} </p>
        <small>  Categoria: <strong>  {{post.categoria.nome}} </strong> </small>
        <small> Slug: <strong> {{post.slug}} </strong> </small>
        <small> Data de Criação: <strong> {{post.data}} </strong> </small>
    </div>
</div>